<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>About Eastern Shredder</h1>
			<p>Eastern Shredder started selling skateboard products back in 2013 with one mission in mind; providing an easy to use website for skateboarders around the world to purchase their gear from. We eaisly breakdown our products into simply categories to let you choose your favorite brands. We believe that the customer should always come first. Because of this, all of our items are not taxed. That's right, what you see is what you get. Also, we have same day delivery on all items. Be sure to stay updated with our events calendar!</p>
		</div>
	</div>
</div>