<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Contact Us</h1>
			<p>Please feel free to reach out to us at any time. We have 24 hour a day phone support at 1 (888) 8877 and email support at support@easternshred.com. We also are open to feedback about our site or any products you receive from us. Please let us know if you experience problems with the site and we will have our technical team fix the issue as soon as possible.</p>
		</div>
	</div>
</div>