<h1>Skateboard Decks</h1>
<%= image_tag "ups.jpg", id: "ups_banner" %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "brand_baker.jpg", class: "brand-logo" %>
      <div class="caption">
        <h3>Item 1</h3>
        <span>Price: </span><span class="price">$1.99</span>
        <p>Item 1 Description</p>
        <div>
          Quantity:
          <input class="item-counter" type="number" min="0" max="10" value="0">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "brand_baker.jpg", class: "brand-logo" %>
      <div class="caption">
        <h3>Item 2</h3>
        <span>Price: </span><span class="price">$10.79</span>
        <p>Item 2 Description</p>
        <div>
          Quantity:
          <input class="item-counter" type="number" min="0" max="10" value="0">
        </div>
      </div>
    </div>
  </div>

</div>