<footer class=".footer">
	<small>&#169; created by
		<%= link_to "Mike Kucharski", "http://mikekucharski.com" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "/static_pages/about/" %></li>
			<li><%= link_to "Contact", "/static_pages/contact/" %></li>
		</ul>
	</nav>
</footer>