<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <%= image_tag "one_love.png", id: "header_mid_logo" %>
  <div class="container nav-container">
    <span class="navbar-brand" id="brand">
        <%= image_tag "one_love.png", id: "header-logo" %> Eastern Shredder
    </span>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/static_pages/home/">Home</a></li>
      <li><a href="/static_pages/home/">Account</a></li>
      <li><a href="/static_pages/signin/">Logout</a></li>
    </ul>
       
  </div>
</nav>