<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container nav-container">
    <span class="navbar-brand" id="brand">
        <%= image_tag "one_love.png", id: "header-logo" %> Eastern Shredder
    </span>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="/static_pages/signin"><i></i> login</a></li>
    	<li><a href="/static_pages/register"><i></i> register</a></li>
    </ul>
  </div>
</nav>