<h1><%= @title.capitalize %></h1>
<%= image_tag "ups.jpg", id: "ups_banner" %>
<div class="row">
	<%= render @products %>
</div>
<button id="checkout" class="btn btn-primary" type="button">Checkout</button>